@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
/*
    font-family: 'Source Sans Pro', sans-serif;
*/

:root{
    --link: #3e95d3;
    --height: 90vh;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-fluid{
    padding: 0;
}

section{
    overflow-x: hidden;
    margin-bottom: 10px;
    height: 90vh;
}

/*
header{
    position: fixed;
}
*/


/* ------ SECTION-1 ------ */

.section-1{
    background-color: #131313;
}

.section-1:hover{
    cursor: pointer;
}

.section-1 .container{
    background-image: url('../images/section-1.jpg');
    background-size: 100%;
    background-position: bottom;
    height: 100%;
    color: whitesmoke;
}

.section-1 .container h1{
    padding-top: 4rem;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: -2px;
    font-family:'SF UI Display Semibold' !important;
}

.section-1 .container h5{
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: -10px;
}

.section-1 .container h6{
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--link);
    margin-top: 30px;
    display: inline;
}

.section-1 .container h6:hover{
    text-decoration: underline;
    cursor: pointer;
}






/* ------ SECTION-2 ------ */

.section-2{
    background-color: #fafafa;
}

.section-2:hover{
    cursor: pointer;
}

.section-2 .container-fluid{
    background-image: url('../images/section-2.jpg');
    background-position: bottom;
    background-size: 160%;
    height: 100%;
    color: black;
}

.section-2 .container-fluid h1{
    padding-top: 4rem;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: -2px;
    font-family:'SF UI Display Semibold' !important;
}

.section-2 .container-fluid h5{
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: -10px;
}

.section-2 .container-fluid h6{
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--link);
    margin-top: 30px;
    display: inline;
}

.section-2 .container-fluid h6:hover{
    text-decoration: underline;
    cursor: pointer;
}






/* ------ SECTION-3 ------ */

.section-3{
    background-color: #000;
}

.section-3:hover{
    cursor: pointer;
}

.section-3 .container-fluid{
    background-image: url('../images/section-3.jpg');
    background-position: bottom;
    background-size: 210%;
    height: 100%;
    color: whitesmoke;
}

.section-3 .container-fluid h1{
    padding-top: 4rem;
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: -2px;
    font-family:'SF UI Display Semibold' !important;
}

.section-3 .container-fluid h5{
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: -10px;
}

.section-3 .container-fluid h6{
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--link);
    margin-top: 30px;
    display: inline;
}

.section-3 .container-fluid h6:hover{
    text-decoration: underline;
    cursor: pointer;
}





/* ------ SECTION-4 ------ */

.section-4{
    padding: 10px;
}

.section-4 .tile-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.section-4 .tile-wrapper .box-wrapper-1, .section-4 .tile-wrapper .box-wrapper-2{
    height: 100%;
    width: 49.5%;
}

.section-4 .tile-wrapper .box-wrapper-1{
    background-color: #fafafa;
}

.section-4 .tile-wrapper .box-wrapper-1:hover{
    cursor: pointer;
}

.section-4 .tile-wrapper .box-wrapper-1 .box-1{
    height: 100%;
    width: 100%;
    background-image: url('../images/section-4.1.jpg');
    background-position: bottom;
    background-size: 55%;
}

.section-4 .tile-wrapper .box-wrapper-1 .box-1 h1{
    padding-top: 6vmin;
    letter-spacing: -2px;
    font-family:'SF UI Display Heavy' !important;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 2px;
}

.section-4 .tile-wrapper .box-wrapper-1 .box-1 h4{
    color: rgb(199, 63, 0);
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.section-4 .tile-wrapper .box-wrapper-1 .box-1 h5{
    font-weight: 400;
}

.section-4 .tile-wrapper .box-wrapper-1 .box-1 h6{
    font-weight: 500;
    font-size: 1rem;
    color: var(--link);
    display: inline;
}

.section-4 .tile-wrapper .box-wrapper-1 .box-1 h6:hover{
    text-decoration: underline;
}

.section-4 .tile-wrapper .box-wrapper-2{
    background-color: #131218;
}

.section-4 .tile-wrapper .box-wrapper-2:hover{
    cursor: pointer;
}

.section-4 .tile-wrapper .box-wrapper-2 .box-2{
    height: 100%;
    width: 100%;
    background-image: url('../images/section-4.2.jpg');
    background-position: bottom;
    background-size: 210%;
    color: whitesmoke;
}

.section-4 .tile-wrapper .box-wrapper-2 .box-2 h1{
    padding-top: 6vmin;
}

.section-4 .tile-wrapper .box-wrapper-2 .box-2 h5{
    font-weight: 400;
}

.section-4 .tile-wrapper .box-wrapper-2 .box-2 h6{
    font-weight: 500;
    font-size: 1rem;
    color: var(--link);
    display: inline;
}

.section-4 .tile-wrapper .box-wrapper-2 .box-2 h6:hover{
    text-decoration: underline;
}













.section-5{
    background-color: lightblue;
    padding: 10px;
}

.section-5 .wrapper{
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.section-5 .wrapper .box{
    height: 100%;
    width: 49.5%;
    background-color: lightgreen;
}




.section-6{
    background-color: lightblue;
    padding: 10px;
}

.section-6 .wrapper{
    background-color: lightcoral;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.section-6 .wrapper .box{
    height: 100%;
    width: 49.5%;
    background-color: lightgreen;
}